

body{
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

:root{
   --background-color:#FFFFFF;
   --primary-font: "Roboto",
    sans-serif;
    --color-for-url: #2E2F42;
    --color-for-contacts: #434455;
    --color-for-logo: #4d5ae5;
}



.link{
    text-decoration: none;
}

.list {
    list-style: none;
}

/*--header--*/

.page-contact{
    display: flex;
    gap: 40;
}
 
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-for-logo);
        text-decoration: none;
}

.logo-studio{
        color: #2E2F42;
}

.page-nav{
    display: flex;
    align-items: center;
    column-gap: 76px;
}

.menu{
    display: flex;
    gap: 76px;
}


.navigation{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus{
    color: #404bbf;
    color: #404bbf;
}


.information{
  
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.information:hover,
.information:focus{
    color: #404bbf;
    color: #404bbf;
}

.contact-info{
    display: flex;
    font-style: normal;
    line-height: 1.5;
}

.page-contact{
    display: flex;
    gap: 40px;
}

/*--section-one--*/

.container-section-one{
    width: 1440px;
    height: 600px;
}

.section-one{
    background-color: #2E2F42;
}

.section-one-headline{
    display: flex;
    padding: 188px 472px 292px;
        width: 496px;
        flex-direction: column;
        flex-shrink: 0;
        text-align: center;
        font-size: 56px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.button-order{
    background-color:#4D5AE5;
    display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;  
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        
}

.button-order:hover,
.button-order:focus{
    background-color: #404BBF;
}

/*--section-two--*/

.section-two-headlines{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.section-two-p{ 
   
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;   
        color: #434455;
}

/*--section-three--*/

.section-three-headline{
   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.section-four {
    background-color: #F4F4FD
}


.list-our-team{
    background-color: #FFFFFF
}


/*--footer--*/

.footer-p{
 
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;   
        color: #F4F4FD;
}

.footer{
    background-color: #2E2F42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        text-decoration: none;
}

.footer-studio{
    color: #F4F4FD;
}

.button-all{
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
}

.button-all:hover,
.button-all:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

